In [1]:
import glob
import pandas as pd
import datetime
import IPython.display as display

In [2]:
dfs = []
for filename in glob.glob('selectedData/*'):
    df = pd.read_csv(filename)
    df.name = filename.split('/')[-1].split('.')[0]
    df['Date'] =  pd.to_datetime(df['Date'])
    df.sort_index(axis=1, ascending=False)
    dfs.append(df)

In [3]:
for i in range(len(dfs)):
    df = dfs[i]
    dfs[i] = df[(df['Date']>='2016-11-07') & (df['Date']<='2017-11-10')].reset_index(drop=True)
    dfs[i].name = df.name

In [4]:
checkDate = []
for df in dfs:
    checkDate.append(df[(df['Date']>='2016-11-07') & (df['Date']<='2017-11-10')]['Date'].tolist() == dfs[0][(dfs[0]['Date']>='2016-11-07') & (dfs[0]['Date']<='2017-11-10')]['Date'].tolist())
dateChecked = True
for i in checkDate:
    if(not i):
        dateChecked = False
        print("Date does not match for some.")
        break
if dateChecked:
    print("Date checked successfully")

Date checked successfully

In [17]:
def preprocess(df):
    '''
    Values are calculated w.r.t to the previous week. 
    Delta for week 0 is calculated as open price for start of week 0 - week -1
    High for week 0: Highest price from start of week -1 to start of week 1
    Low for week 0: Lowest price from start of week -1 to start of week 0 
    '''
    currentDate = datetime.datetime(2016,11,14)
    endDate = datetime.datetime(2017,11,10)
    df_ = pd.DataFrame(columns=['Date','Open','Delta','High','Low','Positive'])
    while currentDate <= endDate:
        i = []
        tempDate = currentDate
        while(len(i) == 0):
            i = df.index[df.Date == tempDate].values
            tempDate += datetime.timedelta(days=1)
        i = i[0]
        
        prevI = []
        tempDate = currentDate - datetime.timedelta(days=7)
        while(len(prevI) == 0):
            prevI = df.index[df.Date == tempDate].values
            tempDate += datetime.timedelta(days=1)
        prevI = prevI[0]
        
        date = df.iloc[i]['Date']
        open_ = df.iloc[i]['Open']
        delta = df.iloc[i]['Open'] - df.iloc[prevI]['Open']
        high = max(df.iloc[prevI:i]['High'])
        low = min(df.iloc[prevI:i]['Low'])
        positive = delta >= 0
        df_.loc[len(df_)] = [date,open_,delta,high,low,positive]
        currentDate += datetime.timedelta(days=7)
    return df_
        
preprocess(dfs[0])

         Date    Open  Delta    High     Low Positive
0  2016-11-14  31.606  2.808  32.550  28.656     True
1  2016-11-21  30.317 -1.289  31.655  30.251    False
2  2016-11-28  30.489  0.172  30.779  29.471     True
3  2016-12-05  30.539  0.050  31.140  30.173     True
4  2016-12-12  30.499 -0.040  30.711  29.355    False
5  2016-12-19  31.520  1.021  32.039  30.463     True
6  2016-12-27  31.338 -0.182  31.721  30.837    False
7  2017-01-03  31.463  0.125  31.481  31.087     True
8  2017-01-09  32.165  0.702  32.424  31.356     True
9  2017-01-17  31.126 -1.039  32.395  31.077    False
10 2017-01-23  30.481 -0.645  31.154  30.337    False
11 2017-01-30  30.279 -0.202  30.615  29.730    False
12 2017-02-06  31.102  0.823  31.336  29.763     True
13 2017-02-13  31.530  0.428  31.627  31.025     True
14 2017-02-21  32.629  1.099  32.939  31.443     True
15 2017-02-27  33.270  0.641  33.387  32.317     True
16 2017-03-06  33.367  0.097  33.775  32.959     True
17 2017-03-13  33.183 -0.184  33.504  32.775    False
18 2017-03-20  33.434  0.251  33.727  32.959     True
19 2017-03-27  32.794 -0.640  33.639  32.989    False
20 2017-04-03  33.153  0.359  33.484  32.794     True
21 2017-04-10  33.173  0.020  33.551  33.086     True
22 2017-04-17  32.949 -0.224  33.255  32.765    False
23 2017-04-24  33.026  0.077  33.096  32.531     True
24 2017-05-01  32.939 -0.087  33.076  32.706    False
25 2017-05-08  32.463 -0.476  33.036  31.958    False
26 2017-05-15  32.355 -0.108  32.677  32.237    False
27 2017-05-22  31.895 -0.460  32.561  31.472    False
28 2017-05-30  31.463 -0.432  31.895  31.374    False
29 2017-06-05  31.904  0.441  32.267  31.423     True
30 2017-06-12  32.139  0.235  32.189  31.080     True
31 2017-06-19  32.326  0.187  32.513  31.855     True
32 2017-06-26  33.524  1.198  33.837  32.297     True
33 2017-07-03  32.856 -0.668  33.572  32.748    False
34 2017-07-10  32.738 -0.118  33.336  32.405    False
35 2017-07-17  32.817  0.079  32.924  32.375     True
36 2017-07-24  32.758 -0.059  33.072  32.424    False
37 2017-07-31  32.591 -0.167  32.856  32.081    False
38 2017-08-07  33.246  0.655  33.692  32.110     True
39 2017-08-14  33.028 -0.218  33.286  32.860    False
40 2017-08-21  32.305 -0.723  33.226  32.354    False
41 2017-08-28  33.197  0.892  33.316  32.027     True
42 2017-09-05  33.573  0.376  33.821  32.939     True
43 2017-09-11  33.781  0.208  33.940  33.444     True
44 2017-09-18  35.060  1.279  35.515  33.672     True
45 2017-09-25  35.575  0.515  35.882  34.892     True
46 2017-10-02  35.347 -0.228  35.704  34.876    False
47 2017-10-09  35.620  0.273  35.912  35.169     True
48 2017-10-16  36.021  0.401  36.150  35.605     True
49 2017-10-23  35.971 -0.050  36.150  35.426    False
50 2017-10-30  35.109 -0.862  36.447  35.079    False
51 2017-11-06  35.268  0.159  35.406  33.796     True